<header class="row transaction-view-header">
    <div class="curr-trans-number col-lg-8">
        <span>#123456789</span>
    </div>
</header>

<article class="row transaction-list">
    <header class="transaction-list-header row">
        <section class="item-name-title col-lg-8">
            <span>Item Name</span>
        </section>
        <section class="qty-price-title col-lg-4">
            <div class="row">
                <div class="item-qty-title col-lg-6">
                    <span>Qty</span>
                </div>
                <div class="item-price-title col-lg-6">
                    <span>Price</span>
                </div>
            </div>
        </section>
    </header>
    
    <section class="transaction-list-items row" ng-repeat="list in lists">
        <!-- Transaction item list loop starts here -->
        <div class="item-name col-lg-7 col-lg-offset-1">
            <span>{{ list.name }}</span>
        </div>
        <div class="qty-price col-lg-4">
            <div class="row">
                <div class="item-qty col-lg-3">
                    <span>{{ list.qty }}</span>
                </div>
                <div class="item-price col-lg-3">
                    <span>{{ list.singlePrice }}</span>
                </div>
                <div class="calculated-price col-lg-6">
                    <span>{{ list.calcPrice }}</span>
                </div>
            </div>
        </div>
        <!-- Transaction item list loop ends here -->
    </section>
    
</article>

<footer class="transaction-view-footer row">
    <div class="row">
        <div class="finalize-transaction col-lg-3">
            <span>Check</span>
        </div>
        <div class="print-transaction col-lg-3">
            <span>Print</span>
        </div>
        <div class="discount-transaction col-lg-3">
            <span>Discount</span>
        </div>
        <div class="delete-transaction col-lg-3">
            <span>Delete</span>
        </div>
    </div>
</footer>