<!-- Don't forget to remake this into a monolith view with filter -->
<section class="panel panel-group">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href=".greenveggies" data-toggle="collapse" data-parent="#sub-categories">
                Green Vegetables
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse greenveggies">
        <div class="panel-body">
            <div class="row">
                <!-- show each content of respective sub-categories here -->
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">{{ kek }}</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">{{ kuk }}</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">Show Photo of Fud</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">Show Photo of Fud</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">Show Photo of Fud</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">Show Photo of Fud</div>
                        <div class="col-lg-12">Show name</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>