.slide-animation-container {
    position:relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
    /*top: 0;
    left: 0;
    right: 0;*/
    height: 1000px;
}

.slide-animation.ng-enter {
  z-index:100;
  left:100px;
  opacity:0;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  z-index:101;
  opacity:1;
  left:0;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}

.show-hide-animation.ng-hide-add, 
.show-hide-animation.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
  height: 1000px;
}
 
.show-hide-animation.ng-hide-remove {
  opacity:0;
}
.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.show-hide-animation.ng-hide-add {
  opacity:1;
}
.show-hide-animation.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.repeat-animation.ng-enter {
  left:10px;
  opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.repeat-animation.ng-leave {
  left:10px;
  opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

/* ======================
        APP LOOKS M8
   ====================== */

$main-color: #3f51b5;
$main-color-light: #7986cb;
$main-color-dark: #303f9f;
$background: #e8eaf6;
$accent: #c6ff00;

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata.otf');
  font-weight: 300;
}

body {
  background: $background;
  font-family: 'Roboto';
  font-color: lighten(black, 20%);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1, h2, h3 {
  margin-top: 16px;
}

a {
  font-family: 'Roboto';
  font-weight: bold;
}

img {
  width: 100px;
  height: auto;
}

small {
  font-family: 'Roboto';
  font-weight: 300;
}

table {
  text-align: center;
  th {
    font-size: 1.25em;
    text-align: center;
  }
}

.navbar-default {
  background: $main-color;
  border-color: $main-color-dark;
  .navbar-brand {
    color: white;
    &:hover {
      color: $accent;
    }
  }
  .navbar-nav li a {
    color: white;
    &:hover {
      color: $accent;
    }
  }
}

.form-control {
  &:focus {
    border-color: $main-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($main-color, 40%);
  }
}

.btn-primary {
  background-color: $main-color;
  border-color: $main-color-dark;
  &:hover {
    color: $accent;
    background-color: $main-color;
  }
  &:focus {
    background-color: $main-color;
  }
}

.app-navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 66.3%;
  background: $main-color;
  ul {
    width: 100%;
    li {
      list-style-type: none;
      float: left;
      text-align: center;
      margin-top: -10px;
      width: 25%;
      height: 7.5vh;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
      }
      div {
        line-height: 7.5vh;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.transaction-view, .current-item-view, .current-supplier-view, .stock-modifier-list-view, .reorder-email-view {
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 5;
}

.transaction-view-header, .current-item-header, .current-supplier-header, .stock-modifier-list-header, .reorder-email-header {
  background-color: $main-color;
  border-radius: 0 0 5px 5px;
}

.transaction-view-footer, .stock-modifier-list-footer, .reorder-email-footer {
  position: absolute;
  bottom: 0;
  background-color: $main-color;
  border-radius: 5px 5px 0 0;
  width: 31.25vw;
  height: 7.5vh;
  ul {
    width: 100%;
    li {
      list-style-type: none;
      float: left;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
      }
      div {
        line-height: 7.5vh;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.transaction-view-footer {
  ul {
    li {
      width: 25%;
    }
  }
}

.transaction-list-header {
  margin-top: 1em;
  span {
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: 500;
  }
}

.qty-price-title, .qty-price {
  text-align: center;
}

.qty-price, .item-name {
  span {
    font-size: 1.25em;
  }
}

.current-supplier-details {
  margin-top: 4em;
  h4 {
    color: lighten(black, 20%);
  }
}

.stock-modifier-list-footer, .reorder-email-footer {
  ul {
    li {
      width: 100%;
    }
  }
}

@media print {
  html, body {
    max-width: 8cm;
    min-height: 10cm;
  }

  .print-transaction-view {
    font-family: 'Inconsolata';
    line-height: 0.75cm;
    header {
      text-align: center;
      font-weight: 500;
      font-size: 0.5cm;
      span {
        display: block;
      }
    }
    article {
      .title {
        font-weight: bolder;
      }
      span {
        display: inline-block;
        vertical-align: top;
      }
      .name {
        width: 3cm;
      }
      .qty {
        text-align: left;
      }
      .qty {
        width: 1.5cm;
      }
      .each, .total {
        text-align: right;
      }
      .each {
        width: 1cm;
      }
      .total {
        width: 1cm;
      }
      .totalAll, .discount, .final {
        font-weight: bolder;
      }
      .totalAll {
        margin-top: 1.5cm;
      }
    }
    footer {
      text-align: center;
      font-size: 0.35cm;
      span {
        display: block;
      }
    }
  }
}