    <section class="transaction-view col-lg-4 col-md-4 hidden-print display-section">
        <header class="col-lg-12 transaction-view-header">
            <h3>{{ header | date: 'dd/MM/yyyy'}} {{ task }}</h3>
        </header>

        <article class="col-lg-12 transaction-list">
            <header class="transaction-list-header row">
                <section class="item-name-title col-lg-6 col-md-6">
                    <span>Item Name</span>
                </section>
                <section class="qty-price-title col-lg-6 col-md-61">
                    <div class="row">
                        <div class="item-qty-title col-lg-4 col-md-4">
                            <span>Qty</span>
                        </div>
                        <div class="item-price-each-title col-lg-3 col-md-3">
                            <span>ea.</span>
                        </div>
                        <div class="item-price-title col-lg-5 col-md-5">
                            <span>Price</span>
                        </div>
                    </div>
                </section>
            </header>
            
            <section class="transaction-list-items row" ng-repeat="list in lists">
                <!-- Transaction item list loop starts here -->
                <div class="delete-array col-lg-1 col-md-1">
                    <button class="btn btn-danger btn-xs" ng-click="deleteArr(list)">X</button>
                </div>
                <div ng-click="sendToEditor(list.name, list.qty, list.barcode)">
                    <div class="item-name col-lg-5 col-md-5">
                        <span>{{ list.name }}</span>
                    </div>
                    <div class="qty-price col-lg-6 col-md-6">
                        <div class="row">
                            <div class="item-qty col-lg-4 col-md-4">
                                <span>{{ list.qty }} {{ list.amountType }}</span>
                            </div>
                            <div class="item-price col-lg-3 col-md-3">
                                <span>{{ list.priceEach }}</span>
                            </div>
                            <div class="calculated-price col-lg-5 col-md-5">
                                <span>{{ list.totalAll }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Transaction item list loop ends here -->
            </section>

            <footer class="transaction-list-footer row">
                <section class="totalSection">
                    <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6">
                        <div class="col-lg-12 col-md-12 totalPrice">
                            <label>Total</label>
                            <div class="pull-right">
                                <span>{{ sumAll }}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label>Discount</label>
                        </div>
                        <div class="col-lg-8 col-md-8 pull-right">
                            <div class="input-group">
                                <input type="text" name="discount" id="discount" class="form-control" placeholder="Percentage" ng-model="discount" ng-change="fixNaN()">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <label>Final</label>
                            <div class="pull-right">
                                <span>{{ finalPrice }}</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Cash</label>
                        </div>
                        <div class="col-lg-8 pull-right">
                            <input type="text" name="cash" id="cash" class="form-control" placeholder="Cash" ng-model="cash" ng-change="updateChange()">
                        </div>
                        <div class="col-lg-12">
                            <label>Change</label>
                            <div class="pull-right">
                                <span>{{ change }}</span>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            
        </article>

        <footer class="transaction-view-footer">
            <ul class="list-unstyled">
                <li>
                    <a ng-click="upsertTransactionOut()"><div>Check</div></a>
                </li>
                <li>
                    <a><div>Print</div></a>
                </li>
                <li>
                    <a><div>Discount</div></a>
                </li>
                <li>
                    <a ng-click="clearThisTransaction()"><div>Delete</div></a>
                </li>
            </ul>
        </footer>
        
    </section>