<div class="row-fluid">
	<section class="reorder-email-view col-lg-4">
		<header class="col-lg-12 reorder-email-header">
			<h3>Email Preview</h3>
		</header>

		<article class="col-lg-12 reorder-email-content">
            <div>Recipient: {{ emailRecipient }} <small>{{ emailRecipientAddress }}</small></div>
            <div>Subject: {{ emailSubject }}</div>
			<div ng-bind-html="emailHeader"></div>
			<div ng-bind-html="emailContent"></div>
			<div ng-bind-html="emailFooter"></div>
		</article>

		<footer class="reorder-email-footer">
            <ul class="list-unstyled">
                <li>
                    <a ng-click="sendEmail()"><div>Send Email</div></a>
                </li>
            </ul>
        </footer>
	</section>

	<section class="reorder-email-form col-lg-8">
		<nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
            </div>
        </nav>

        <article class="col-lg-4 depleted-items-list">
        	<span>List of Depleted Items</span>
        	<ul>
        		<li ng-repeat="depletedItem in depletedItems">{{ depletedItem.name }} - {{ depletedItem.currentStock }}/{{ depletedItem.minStock }}</li>
        	</ul>
        </article>

        <article class="col-lg-4 reorder-email-form">
        	<label>Email Creator Form</label>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="emailRecipient" class="col-lg-4 control-label">Email Recipient</label>
                    <div class="col-lg-8">
                        <input type="text" name="emailRecipient" id="emailRecipient" class="form-control" ng-model="supplier" typeahead="supplier.name for supplier in suppliers | filter: supplier" placeholder="Supplier Name" typeahead-on-select="sendEmailRecipient()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailSubject" class="col-lg-4 control-label">Email Subject</label>
                    <div class="col-lg-8">
                        <input type="text" name="emailSubject" id="emailSubject" class="form-control" ng-model="subject" placeholder="Email Subject" ng-change="sendEmailSubject()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailHeader" class="col-lg-4 control-label">Email Header</label>
                    <div class="col-lg-8">
                        <textarea name="emailHeader" id="emailHeader" rows="3" class="form-control" placeholder="Preliminary message for supplier. Optional." ng-model="header" ng-change="sendEmailHeader()"></textarea>
                    </div>
                </div>
                <label for="itemSection">------------Item Section-----------</label>
                <div class="form-group">
                    <label for="itemBarcode" class="col-lg-4 control-label">Item Barcode</label>
                    <div class="col-lg-8">
                        <input type="text" name="itemBarcode" id="itemBarcode" class="form-control" ng-model="barcode" typeahead="item.barcode for item in items | filter: barcode" placeholder="Barcode">
                    </div>
                </div>
                <div class="form-group">
                    <label for="itemName" class="col-lg-4 control-label">Item Name</label>
                    <div class="col-lg-8">
                        <input type="text" name="itemName" id="itemName" class="form-control" ng-model="name" typeahead="item.name for item in items | filter: name" placeholder="Item Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="itemQty" class="col-lg-4 control-label">Quantity</label>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-7">
                                <input type="text" name="itemQty" id="itemQty" class="form-control" ng-model="qty" placeholder="Insert number">
                            </div>
                            <div class="col-lg-5">
                                <select name="itemMeasure" id="itemMeasure" class="form-control" ng-model="measure">
                                    <option value="">---------</option>
                                    <option value="Pieces">pcs</option>
                                    <option value="Kilograms">kgs</option>
                                    <option value="Grams">grs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="sendItemList()">Add</button>
                    <button class="btn btn-default">Reset</button>
                </div>
                <label for="itemSection">---------------------------------------</label>
                <div class="form-group">
                    <label for="emailFooter" class="col-lg-4 control-label">Email Footer</label>
                    <div class="col-lg-8">
                        <textarea name="emailFooter" id="emailFooter" rows="3" class="form-control" placeholder="Additional notes" ng-model="footer" ng-change="sendEmailFooter()"></textarea>
                    </div>
                </div>
            </form>
        </article>
	</section>

</div>