<div class="row-fluid">
    
    <section class="col-lg-12">
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
            </div>
        </nav>
    </section>

    <section class="col-lg-12">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="input-group">
                        <input type="text" class="form-control" ng-model="beginDate" datepicker-popup="dd/MM/yyyy" ng-required="true" is-open="beginOpened" placeholder="Begin Date">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="beginOpen($event)">Open</button>
                        </span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <span class="input-group">
                        <input type="text" class="form-control" ng-model="endDate" datepicker-popup="dd/MM/yyyy" ng-required="true" is-open="endOpened" placeholder="End Date">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="endOpen($event)">Open</button>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <button class="btn btn-primary" ng-click="queryReport()">Get Report</button>
            </div>
        </div>
    </section>

    <section class="transIn col-lg-6">
        <table class="table table-hover">
            <thead>
                <th ng-click="sorter='date'; reverse=!reverse">Date</th>
                <th>ID</th>
                <th ng-click="sorter='itemName'; reverse=!reverse">Item</th>
                <th ng-click="sorter='itemQty'; reverse=!reverse">Qty</th>
                <th ng-click="sorter='itemEach'; reverse=!reverse">ea. Price</th>
                <th ng-click="sorter='itemTotal'; reverse=!reverse">Total Price</th>
                <th>GST</th>
                <th ng-click="sorter='supplier'; reverse=!reverse">Supplier</th>
            </thead>
            <tbody ng-repeat="transIn in transIn | orderBy:sorter:reverse">
                <td>{{ transIn.date | date: 'dd/MM/yyyy' }}</td>
                <td><a ui-sref="editItemStockExisting({ id: transIn.transId })">{{ transIn.transId }}</a></td>
                <td>{{ transIn.itemName }}</td>
                <td>{{ transIn.itemQty }}</td>
                <td>${{ transIn.itemEach }}</td>
                <td>${{ transIn.itemTotal }}</td>
                <td>{{ gstValue(transIn.itemTotal, transIn.gst) }}</td>
                <td>{{ transIn.supplier }}</td>
            </tbody>
        </table>
    </section>

    <section class="transOut col-lg-6">
        <table class="table table-hover">
            <thead>
                <th ng-click="sorterOut='date'; reverse=!reverse">Date</th>
                <th ng-click="sorterOut='buyer'; reverse=!reverse">Buyer</th>
                <th ng-click="sorterOut='transId'; reverse=!reverse">Transaction ID</th>
                <th ng-click="sorterOut='itemName'; reverse=!reverse">Item</th>
                <th ng-click="sorterOut='itemQty'; reverse=!reverse">Qty</th>
                <th ng-click="sorterOut='itemEach'; reverse=!reverse">ea. Price</th>
                <th ng-click="sorterOut='discount'; reverse=!reverse">Discount</th>
                <th ng-click="sorterOut='itemTotal'; reverse=!reverse">Total Price</th>
                <th ng-click="sorterOut='discountPrice'; reverse=!reverse">Discounted Price</th>
            </thead>
            <tbody ng-repeat="transOut in transOut | orderBy:sorterOut:reverse">
                <td>{{ transOut.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ transOut.buyer }}</td>
                <td><a ui-sref="editTransactionOut( {id: transOut.transId} )">{{ transOut.transId }}</a></td>
                <td>{{ transOut.itemName }}</td>
                <td>{{ transOut.itemQty }}</td>
                <td>${{ transOut.itemEach }}</td>
                <td>{{ transOut.discount }}%</td>
                <td>${{ transOut.itemTotal }}</td>
                <td>${{ transOut.discountPrice }}</td>
            </tbody>
        </table>
    </section>

</div>