<div class="row-fluid">
    
    <section class="current-item-view col-lg-4">
        <header class="col-lg-12 current-item-header" ng-repeat-start="current in items | filter: search | limitTo: 1">
            <h3>{{ current.name }}</h3>
        </header>

        <article class="row current-item-details" ng-repeat-end>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="barcode in current.barcode">
                        <td>Registered Barcode</td>
                        <td>{{ barcode }}</td>
                    </tr>
                    <tr>
                        <td>Categories</td>
                        <td>{{ current.category }}</td>
                    </tr>
                    <tr>
                        <td>Sub Categories</td>
                        <td>{{ current.subCategory }}</td>
                    </tr>
                    <tr>
                        <td>Current Stock</td>
                        <td>{{ current.currentStock }} {{ current.amountType }}</td>
                    </tr>
                    <tr>
                        <td>Minimum Stock</td>
                        <td>{{ current.minStock }} {{ current.amountType }}</td>
                    </tr>
                    <tr>
                        <td>Supplier</td>
                        <td><a ui-sref="supplier.name({ name: current.supplierName })">{{ current.supplierName }}</a></td>
                    </tr>
                    <tr>
                        <td>Last Restock</td>
                        <td>{{ current.lastRestockDate | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr ng-repeat="bought in current.bought | limitTo: 3">
                        <td>Buying Price</td>
                        <td>Bought {{ bought.qty }} at ${{ bought.price }}</td>
                    </tr>
                    <tr>
                        <td>Profit Margin</td>
                        <td>{{ current.markUpFee }}%</td>
                    </tr>
                    <tr>
                        <td>Handling Fee</td>
                        <td>{{ current.handlingFee }}%</td>
                    </tr>
                    <tr>
                        <td>GST</td>
                        <td>{{ current.GST }}</td>
                    </tr>
                    <tr>
                        <td>Selling Price</td>
                        <td>{{ getSellPrice(current.bought, current.markUpFee, current.handlingFee) }}</td>
                    </tr>
                    <tr>
                        <td>Popularity Rating</td>
                        <td>{{ current.rating }}/5</td>
                    </tr>
                    <tr>
                        <td>Picture</td>
                        <td><img ng-src="{{ current.picture }}"></td>
                    </tr>
                </tbody>
            </table>
            
        </article>
        
    </section>
    
    
    <section class="supplier-form-view col-lg-8">
        
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
            </div>
        </nav>
        
        <section class="supplier-form-view-content">
            <form>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="itemName">Name</label>
                        <input type="text" name="itemName" id="itemName" class="form-control" placeholder="Item Name" ng-model="search.name" typeahead="item.name for item in items | filter: search:strict" typeahead-on-select="getType()">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="itemBarcode">Barcode</label> <small>(optional)</small>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" name="itemBarcode1" id="itemBarcode1" class="form-control" placeholder="Barcode (main)" ng-model="search.barcode" typeahead="item.barcode[0] for item in items | filter: search" typeahead-on-select="getType()">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" name="itemBarcode2" id="itemBarcode2" class="form-control" placeholder="Barcode (optional)" ng-model="barcode" typeahead="item.barcode[1] for item in items | filter: barcode">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" name="itemBarcode3" id="itemBarcode3" class="form-control" placeholder="Barcode (optional)" ng-model="barcodes" typeahead="item.barcode[2] for item in items | filter: barcodes">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="categories">Categories</label>
                        <input type="text" name="categories" id="categories" class="form-control" placeholder="Category" ng-model="category" typeahead="item.category for item in items | filter: category | unique: 'category'">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="subcategories">Sub Categories</label>
                        <input type="text" name="subCategories" id="subCategories" class="form-control" placeholder="Sub Category" ng-model="subCategory" typeahead="item.subCategory for item in items | filter: subCategory | unique: 'subCategory'">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="profitMargin">Profit Margin</label>
                        <div class="input-group">
                            <input type="text" name="profitMargin" id="profitMargin" class="form-control" placeholder="Insert number" ng-model="profit">
                            <div class="input-group-addon">%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="handlingFee">Handling Fee</label>
                        <div class="input-group">
                            <input type="text" name="handlingFee" id="handlingFee" class="form-control" placeholder="Insert number" ng-model="handling">
                            <div class="input-group-addon">%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="supplier">Supplier</label>
                        <!-- Remember to create a typeahead directive here http://www.sitepoint.com/creating-a-typeahead-widget-with-angularjs/ -->
                        <input type="text" name="supplier" id="supplier" class="form-control" placeholder="Supplier Name" ng-model="supplier" typeahead="supplier.name for supplier in supplierLists">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="minimumStock">Minimum Stock</label>
                        <input type="text" name="minimumStock" id="minimumStock" class="form-control" placeholder="Insert number" ng-model="minStock">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="unitMeasurement">Unit Type</label>
                        <select name="unitMeasurement" id="unitMeasurement" class="form-control" ng-model="measure">
                            <option value="pieces">Pieces</option>
                            <option value="kilograms">Kilograms</option>
                            <option value="grams">Grams</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="gst">GST</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="gstToggle" id="gstToggle" ng-model="gst"> Include GST
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="picUpload">Item Picture</label>
                        <div file-input="file" on-change="getBase64()"></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="isBulk">Bulk Buying</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="isBulk" id="isBulk" ng-model="isBulk"> Enable
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" ng-show="isBulk">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="bulkQty">Bulk Qty</label>
                                <input type="text" name="bulkQty" id="bulkQty" class="form-control" placeholder="Insert Number" ng-model="bulkQty">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="bulkPrice">Bulk Price Discount</label>
                                <div class="input-group">
                                    <input type="text" name="bulkPrice" id="bulkPrice" class="form-control" placeholder="Insert Number" ng-model="bulkPrice">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label for="imgPreview">Image Preview</label>
                        <img ng-src="{{ picture }}">
                    </div>
                    <div class="col-lg-6">
                        <p ng-class="errorMessageClass">{{ errorMessage }}</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group pull-right">
                            <label for="buttons">Finalise</label>
                            <div class="row">
                                <button class="btn btn-primary" ng-click="upsertItem()">Save</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                                <button class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </section>
</div>