<div class="row-fluid">
    
    <section class="current-supplier-view col-lg-4">
        <header class="col-lg-12 current-supplier-header" ng-repeat-start="current in suppliers | filter: search | limitTo: 1">
            <h3>{{ current.name }}</h3>
        </header>

        <article class="row current-supplier-details" ng-repeat-end>
            <h4>Phone Number</h4>
            <span>{{ current.phone }}</span>

            <h4>Email</h4>
            <span>{{ current.email }}</span>

            <h4>Address</h4>
            <span>{{ current.address }}</span>
        </article>
        
    </section>
    
    
    <section class="stock-form-view col-lg-8">
        
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
            </div>
        </nav>
        
        <section class="stock-form-view-content row">
            <form ng-submit="gentoo()">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="form-group">
                        <label for="supplierName">Name</label>
                        <input type="text" name="supplierName" id="supplierName" class="form-control" placeholder="Name" ng-model="search.name" typeahead="supplier.name for supplier in suppliers | filter: search:strict" typeahead-on-select="getSupplierId()">
                    </div>

                    <div class="form-group">
                        <label for="supplierPhone">Phone</label>
                        <input type="tel" name="supplierPhone" id="supplierPhone" class="form-control" placeholder="Phone" ng-model="search.phone" typeahead="supplier.phone for supplier in suppliers | filter: search">
                    </div>

                    <div class="form-group">
                        <label for="supplierEmail">Email</label>
                        <input type="email" name="supplierEmail" id="supplierEmail" class="form-control" placeholder="Email" ng-model="search.email" typeahead="supplier.email for supplier in suppliers | filter: search">
                    </div>

                    <div class="form-group">
                        <label for="supplierAddress">Address</label>
                        <textarea name="supplierAddress" id="" cols="30" rows="3" class="form-control" placeholder="Address" ng-model="address" typeahead="supplier.address for supplier in suppliers | filter: search"></textarea>
                    </div>

                    <div class="form-group pull-right">
                        <label for="finalize">Finalise</label>
                        <div class="row">
                            <button class="btn btn-primary" ng-click="upsertSupplier()">Save</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p ng-class="errorMessageClass">{{ errorMessage }}</p>
                </div>
            </form>
        </section>

    </section>
</div>