<div class="row-fluid">
	<section class="stock-modifier-list-view col-lg-4">
		<header class="col-lg-12 stock-modifier-list-header">
			<h3>Modified Items List</h3>
		</header>

		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Item Name</th>
					<th>Supplier</th>
					<th>Qty</th>
					<th>ea.</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="list in lists">
					<td><button class="btn btn-danger btn-xs" ng-click="deleteArr(list)">X</button></td>
					<td>{{ list.name }}</td>
					<td>{{ list.supplierName }}</td>
					<td>{{ list.qty }}</td>
					<td>{{ list.priceEach }}</td>
					<td>{{ list.totalPrice }}</td>
				</tr>
			</tbody>
		</table>

		<footer class="stock-modifier-list-footer">
            <ul class="list-unstyled">
                <li>
                    <a ng-click="upsertTransactionIn()"><div>Save Record</div></a>
                </li>
            </ul>
        </footer>
	</section>

	<section class="stock-modifier-form-view col-lg-8">
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
            </div>
        </nav>
        
		<section class="stock-modifier-form-content">
			<div class="col-lg-6 col-lg-offset-3">
				<form>
					<div class="form-group">
						<label for="itemName">Item Name</label>
						<input type="text" name="itemName" id="name" class="form-control" placeholder="Insert item name" ng-model="name" typeahead="item.name for item in items" typeahead-on-select="findItem()">
					</div>
					<div class="form-group">
						<label for="itemBarcode">Item Barcode <small>(optional)</small></label>
						<input type="text" name="itemBarcode" id="barcode" class="form-control" placeholder="Insert barcode" ng-model="barcode" typeahead="item.barcode[0] for item in items | filter: name" ng-change="findItem()" typeahead-on-select="findItem()">
					</div>
					<div class="form-group">
						<label for="supplier">Supplier Name</label>
						<input type="text" name="supplier" id="supplier" class="form-control" placeholder="Insert supplier name" ng-model="supplier" typeahead="supplier.name for supplier in supplierLists">
					</div>
					<div class="form-group">
						<label for="qty">Add Stock</label>
						<input type="text" name="quantity" id="quantity" class="form-control" placeholder="Insert number" ng-model="qty" ng-change="fixingValueQty()">
					</div>
                    <div class="form-group">
                        <label for="buyPrice">Buying Price</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" name="buyPrice" id="buyPrice" class="form-control" placeholder="Insert number" ng-model="buy" ng-change="fixingValueBuy()">
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <label for="buttons">Finalise</label>
                        <div class="row">
                            <button class="btn btn-primary" ng-click="addModifierLists()">Add</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
				</form>
			</div>
			<div class="col-lg-6 col-lg-offset-3">
				<p ng-class="errorMessageClass">{{ errorMessage }}</p>
			</div>
		</section>
	</section>
</div>