<div class="row-fluid">
    
    <section class="print-transaction-view visible-print">
        <header>
            <span>NAMA TOKO CUI</span>
            <span>NIH ALAMATNYA DI SINI</span>
            <span>NOMER TELEPON SEKIAN</span>
            <span>=======================</span>
        </header>
        <article>
            <section class="title">
                <span class="name">Item Name</span>
                <span class="qty">Qty</span>
                <span class="each">ea.</span>
                <span class="total">Price</span>
            </section>
            <section class="content">
                <div class="block" ng-repeat="list in lists">
                    <span class="name">{{ list.name }}</span>
                    <span class="qty">{{ list.qty }} {{ list.amountType }}</span>
                    <span class="each">${{ getPrice(list.bought, list.markUpFee, list.handlingFee, list.qty, list.bulkBuying) }}</span>
                    <span class="total">${{ getTotal(list.name, list.bought, list.markUpFee, list.handlingFee, list.qty, list.bulkBuying) }}</span>
                </div>
            </section>
            <section class="totalAll">
                <span class="name"></span>
                <span class="qty">Total:</span>
                <span class="each"></span>
                <span class="total">${{ getTotalAll() }}</span>
            </section>
            <section class="discount">
                <span class="name"></span>
                <span class="qty">Discount:</span>
                <span class="each"></span>
                <span class="total">{{ discount }}%</span>
            </section>
            <section class="final">
                <span class="name"></span>
                <span class="qty">Final:</span>
                <span class="each"></span>
                <span class="total">{{ finalPrice }}</span>
            </section>
        </article>
        <footer>
            <span>==================================</span>
            <span>TERIMA KASIH UDAH BELANJA CUI</span>
            <span>BARANG YANG UDAH DIBELI GA BISA DITUKAR</span>
            <span>DATANG KEMBALI YA HEHEHE</span>
        </footer>
    </section>

    <section class="transaction-view col-lg-4 col-md-4 hidden-print">
        <header class="col-lg-12 transaction-view-header">
            <h3>{{ header | date: 'dd/MM/yyyy'}} {{ task }}</h3>
        </header>

        <article class="col-lg-12 transaction-list">
            <header class="transaction-list-header row">
                <section class="item-name-title col-lg-6 col-md-6">
                    <span>Item Name</span>
                </section>
                <section class="qty-price-title col-lg-6 col-md-61">
                    <div class="row">
                        <div class="item-qty-title col-lg-4 col-md-4">
                            <span>Qty</span>
                        </div>
                        <div class="item-price-each-title col-lg-3 col-md-3">
                            <span>ea.</span>
                        </div>
                        <div class="item-price-title col-lg-5 col-md-5">
                            <span>Price</span>
                        </div>
                    </div>
                </section>
            </header>
            
            <section class="transaction-list-items row" ng-repeat="list in lists">
                <!-- Transaction item list loop starts here -->
                <div class="delete-array col-lg-1 col-md-1">
                    <button class="btn btn-danger btn-xs" ng-click="deleteArr(list)">X</button>
                </div>
                <div ng-click="sendToEditor(list.name, list.qty, list.barcode)">
                    <div class="item-name col-lg-5 col-md-5">
                        <span>{{ list.name }}</span>
                    </div>
                    <div class="qty-price col-lg-6 col-md-6">
                        <div class="row">
                            <div class="item-qty col-lg-4 col-md-4">
                                <span>{{ list.qty }} {{ list.amountType }}</span>
                            </div>
                            <div class="item-price col-lg-3 col-md-3">
                                <span>{{ getPrice(list.bought, list.markUpFee, list.handlingFee, list.qty, list.bulkBuying) }}</span>
                            </div>
                            <div class="calculated-price col-lg-5 col-md-5">
                                <span>{{ getTotal(list.name, list.bought, list.markUpFee, list.handlingFee, list.qty, list.bulkBuying) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Transaction item list loop ends here -->
            </section>

            <footer class="transaction-list-footer row">
                <section class="totalSection">
                    <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6">
                        <div class="col-lg-12 col-md-12 totalPrice">
                            <label>Total</label>
                            <div class="pull-right">
                                <span>{{ getTotalAll() }}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label>Discount</label>
                        </div>
                        <div class="col-lg-8 col-md-8 pull-right">
                            <div class="input-group">
                                <input type="text" name="discount" id="discount" class="form-control" placeholder="Percentage" ng-model="discount" ng-change="fixNaN()">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <label>Final</label>
                            <div class="pull-right">
                                <span>{{ finalPrice }}</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Cash</label>
                        </div>
                        <div class="col-lg-8 pull-right">
                            <input type="text" name="cash" id="cash" class="form-control" placeholder="Cash" ng-model="cash" ng-change="updateChange()">
                        </div>
                        <div class="col-lg-12">
                            <label>Change</label>
                            <div class="pull-right">
                                <span>{{ change }}</span>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            
        </article>

        <footer class="transaction-view-footer">
            <ul class="list-unstyled">
                <li>
                    <a ng-click="upsertTransactionOut()"><div>Check</div></a>
                </li>
                <li>
                    <a><div>Print</div></a>
                </li>
                <li>
                    <a><div>Discount</div></a>
                </li>
                <li>
                    <a ng-click="clearThisTransaction()"><div>Delete</div></a>
                </li>
            </ul>
        </footer>
        
    </section>
    
    
    <section class="menu-view col-lg-8 col-md-8 hidden-print">
        
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <section class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target"#menu-view-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">The POS</a>
                </section>
                
                <section class="collapse navbar-collapse" id="menu-view-nav">
                    <!-- populate with category list -->
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in items | unique: 'category'">
                            <a ng-click="changeCategory(item.category)">{{ item.category }}</a>
                        </li>
                        <li>
                            <a ng-click="changeCategory('')">All</a>
                        </li>
                    </ul>
                </section>
            </div>
        </nav>

        <section class="sub-categories-buttons" ng-show="category != null">
            <ul class="nav navbar-nav">
                <li ng-repeat="subCategory in items | filter: category | unique: 'subCategory'">
                    <button class="btn btn-default" ng-click="changeSubCategory(subCategory.subCategory)">{{ subCategory.subCategory }}</button>
                </li>
            </ul>
        </section>
        
        <section class="menu-view-content">
            <section class="row search-item">
                <div class="col-lg-12 col-md-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="barcode" placeholder="Barcode" set-focus="focusBarcode" ng-blur="focusBarcode=false">
                        </div>
                        <div class="form-group" ng-class="[error]">
                            <input type="text" class="form-control" ng-model="search.name" placeholder="Name" typeahead="item.name for item in items | filter: search:strict">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="qty" placeholder="Qty">
                        </div>
                        <button class="btn btn-primary" ng-click="upsertLists()">Submit</button>
                        <span class="bg-danger">{{ errorMessage }}</span>
                    </form>
                </div>
            </section>
            
            <section class="row item-list">
                <div class="panel-group slide-animation" id="all-list">
                    <div class="col-lg-2 col-md-2" ng-repeat="item in items | filter: search:strict | filter: category | filter: subCategory">
                        <div ng-click="sendToEditor(item.name)">
                            <span>{{ item.name }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </section>
</div>